h1,
h2 {
  font-family: Lato;
}

.negrita {
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;  
}

.grid-item {
  background-color: #ffffff; 
  border: 2px solid #696969;     
  padding: 20px;
  font-size: 24px;
  position: relative;
}

.grid-item::before {
  content: attr(data-number);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  background-color: #333;
  color: #fff;
}